
nav{ 
    background-color: #15438C;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 50px;
}
ul {
    
    }
li { 
    text-align: center;
    display: inline;
    }
ul li a {
    
    
    }
ul li a:hover {
    
    } 
 
    
